body {
    font-family: "Microsoft YaHei", "微軟正黑體", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    padding-top: 0px;
}

.myui-header__top {
    position: relative;
}

body.active {
    padding-top: 60px;
}

[class*=col-],
.myui-content__list li,
.myui-vodlist__media.col li {
    padding: 10px
}

.btn {
    border-radius: 5px;
}

.myui-vodlist__thumb {
    border-radius: 5px;
    padding-top: 150%;
    background: url(images/loading.gif) no-repeat;
}

.myui-vodlist__thumb.square {
    padding-top: 100%;
    background: url('') no-repeat;
}

.myui-vodlist__thumb.wide {
    padding-top: 60%;
    background: url(images/loading2.gif) no-repeat;
}

.myui-vodlist__thumb.actor {
    padding-top: 140%;
}

.flickity-prev-next-button.previous {
    left: 10px;
}

.flickity-prev-next-button.next {
    right: 10px;
}

.myui-sidebar {
    padding: 0 0 0 20px;
}

.myui-panel {
    margin-bottom: 20px;
    border-radius: 5px;
}

.myui-panel-mb {
    margin-bottom: 20px;
}

.myui-player__item .fixed {
    width: 500px;
}

.myui-vodlist__text li a,
.myui-vodlist__media li {
    padding: 10px 0;
}

.myui-screen__list {
    padding: 5px 5px 0;
}

.myui-screen__list li {
    margin-right: 2px;
}

.myui-page {
    padding: 0 10px;
}

.myui-extra {
    right: 20px;
    bottom: 30px;
}

.myui-topbg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.myui-header__search {
    position: relative;
    width: 160px!important;
    margin-left: 5px!important;
}

.myui-header__menu>li {
    margin-left: 16px;
}

.myui-header__menu>li .dropdown-box {
    margin-left: -150px;
}

.myui-header__menu>li .dropdown-box .item {
    width: 50px;
}

.filter {
    font-size: medium;
}

.menu_header {
    height: 40px;
}

.m3u_list {
    font-size: 16px;
    padding: 10px 4px;
    width: 450px;
}


.myui-header__menu>li.active>a {
    background-color:white;
    border:1px solid #fe474b;
    padding: 5px;
    border-radius: 5px;
}



@media (min-width: 1200px) {
    .container {
        max-width: 1920px;
    }

    .container {
        padding-left: 120px;
        padding-right: 120px;
    }

    .container.min {
        width: 1200px;
        padding: 0;
    }
    
    .myui-content__detail {
        font-size: 16px;
        /* padding: 10px 14px; */
        /* width: 1200px; */
        width: calc(100% - -180px);
    }
}

@media (max-width: 767px) {

    body,
    body.active {
        padding-bottom: 50px;
    }

    [class*=col-],
    .myui-panel,
    .myui-content__list li {
        padding: 5px
    }

    .flickity-prev-next-button.previous {
        left: 5px;
    }

    .flickity-prev-next-button.next {
        right: 5px;
    }

    .myui-vodlist__text li a,
    .myui-vodlist__media li {
        padding: 10px 0;
    }

    .myui-screen__list {
        padding: 10px 5px 0;
    }

    .myui-screen__list li {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .myui-extra {
        right: 20px;
        bottom: 50px;
    }

    .myui-page {
        padding: 0 5px;
    }

    .myui-content__detail {
        font-size: 16px;
        width: calc(100% - 10px);
    }

    .myui-content__detail .data {
        font-size: 16px;
        width: calc(100% - 10px);
    }

    .myui-header__search {
        position: relative;
        width: 100px!important;
        margin-left: 2px!important;
    }
    
    .myui-header__menu>li {
        margin-left: 4px;
    }
}
